<html>
<h1>My cart Products</h1>

  {% for i in form %}
    {% if i.is_active == True %}
      <div> 
      
      <img src="http://127.0.0.1:8000/image/{{i.product_id__image}}" width="100" height="100"><br>
      <h3>Product id is :{{i.product_id}}</h3>
      Your cart id is : {{i.id}}<br>
      
      
      Quantity : <input type="number" value="{{i.quantity}}" name= 'qn'><br><br>
      
      
      <button><a href="{% url 'cart_delete' i.id %}">Remove from cart</a></button><br><br>
    {% endif %}
    {% endfor %}

<br>
<br>


{% for i, j in Sum.items%} 
   Your Product Price is :{{j}}
{% endfor%}

<div>

{% for i, j in Tax.items%} 
   Your Tax Price is :{{j}}
{% endfor%}
<br><br>
{% for v, k in total.items%} 
   Your Total Price is :{{k}}
{% endfor%}


<div>


<form >
{% for i,j in pass_id.items %}
     <button><a href="{% url 'shipping' j%}">Shipping</a></button><br>
   
   
    
   
{% endfor %}
</form>

</div>
<br><button><a href = "{% url 'home' %}">Go back</a></button>



</html>
