<html>

<h1>My cart Products</h1>



{% for i in form %}

{% if i.is_active == True %}

<div>

  <img src="http://127.0.0.1:8000/image/{{i.product_id__image}}" width="100" height="100"><br>
  <h3>Product id is :{{i.product_id}}</h3>
  Your cart id is : {{i.id}}<br>
  This Product price :{{i.selling_price}}<br>


  <form method="POST" action="{% url 'quantity' i.product_id %}">
    {% csrf_token %}
    Quantity : <input type="number" value="{{i.quantity}}" name='qn' min="1">
    <button>Apply</button>

  </form><br><br>

  <form method='POST' action="{% url 'cart_delete' i.id %}">
    {% csrf_token %}
    <button>Remove from cart</button><br><br>
  </form>
</div>

{% endif %}
{% endfor %}

<br>
<br>


{% for i, j in Sum.items%}
{% if j is not None %}
Your Product Price is :{{j}}
{% endif %}
{% endfor%}

<div>

  {% for i, j in Tax.items%}
  {% if j is not None %}
  Your Tax Price is :{{j}}
  {% else %}
  Your cart is empty

  {% endif %}
  {% endfor%}
  <br><br>
  
    {% for v, k in total.items%}
    Your Total Price is :{{k}}<br><br>
   {% endfor %}

  <div>
    {% for i,j in pass_id.items %}
    <form action="{% url 'shipping' j%}" method="POST">
      {% csrf_token %}
      <button>Shipping</button><br>
    </form>
  </div>

  
  <div>
    {% endfor %}

    </form>

  </div>

  <br><button><a href="{% url 'home' %}">Go back</a></button>
  <button><a href="{% url 'cartapi' %}">Click</a></button>
  

</html>