<html>
<h1>My order here</h1>
{% if sel %}
{% for i in sel %}
{{i.product__id}}

<div> 
   
     
      <img src="http://127.0.0.1:8000/image/{{i.product__product_id__image}}" width="100" height="100"><br><br>
      
      Quantity : {{i.product__quantity}}<br>
      Price : {{i.product__selling_price}}<br>
      Date & Time : {{i.created_on}}<br>
      Total : {{i.total_order_value}}<br>
      <br>
      <form action="" method="post">
        {% csrf_token %}
      <button type="submit">Cancel order</button><br><br></form>
      
{% endfor %}
{% for v, k in T.items %}
 Your total amount is : {{k}}
{% endfor %}
{% else %}
  <h3><i>Your order is null</i></h3>
{% endif %}






</div>
<br><br>
<button><a href = "{% url 'home' %}">Go back</a></button><br>
</html>
