<html>
{% load static %}
<h1>Your Products here</h1>
<link rel="stylesheet" href="{% static 'my.css' %}">
<head>

</head>

{% for i in form%}
{% if i.availability == True %}
<center>
<div>
      <h3>{{i.title}}</h3>
     Brand :{{i.brand}}<br>
     Image :<img src="{{ i.image.url }}" width="100" height="100"><br>
     Title :{{i.title}}<br>
     Price : {{i.price}}<br>
     Color : {{i.color}}<br>
     Availability : {{i.availability}}<br>
     Tax : 18 %<br>
     <button><a href="{% url 'addcart' i.id%}">ADD to Cart</a></button><br>
     {% for l, j in wl.items %} 
     
     <form action = "{% url 'wishlist' i.id%}" method="POST">
     
     {% csrf_token %} 
     
      
        {%if i.id not in j%}
          <button type = 'submit'>Add to Whislist</button>
          
        {% else %}
          <button>Already in wishlist</a></button><img src="{% static 'wl.jpeg' %}" width="30" height="30"><br><br><br>
          
       </form>
        {% endif %}
    {% endfor%}
     
     
{% endif %}


</div>

</center>
{% endfor %}
<button><a href = "{% url 'home' %}">Go back</a></button><br>

</html>
