<html>
<form method="POST">
   {% csrf_token %}
<h1>Welcome</h1>
{% for i in form %}
  {{i.product_id}}
  {{i.selling_price}}
  {{i.product_id__image}}
  <img src="http://127.0.0.1:8000/image/{{i.product_id__image}}" width="100" height="100"><br><br>
  
{% for i, j in sum.items%} 
   Your Total Price is :{{j}}
{% endfor%}


<div>
{% for i, j in Tax.items%} 
   Your Tax Price is :{{j}}
{% endfor%}
</div>



<div>
</form>

<form method="POST" action =  "{% url 'order' i.user  %}">
{% endfor %}
   {% csrf_token %}
    Address: <input type="text" name="ad" required ><br><br>
    City : <input type="text" name="ci"required ><br><br>
    State :<input type="text" name="st" required><br><br>
    Zip code :<input type="text" name="zi" required><br><br>
    <button>Place to Order</buton>
    
  

</form>

</div>

</html>
