<html>
<h1>Your wishlist here</h1>
{% if wish_list%}
{% for i in wish_list %}

<div>

   <img src="http://127.0.0.1:8000/image/{{i.product1__image}}" width="100" height="100"><br>
   Price : {{i.product1__price}}<br><br>

  
   <form method="post" action="{% url 'delwl' i.id %}">
      {% csrf_token %}
      <button>Remove</button><br><br>
   </form>



   <form method="post" action="{% url 'wlf' i.product1__id %}">
       {% csrf_token %}
       
       <button>ADD to Cart</button>
   </form>
</div>



{% endfor %}
{% else %}
<h1><i> You have nothing in wish list</i></h1>
{% endif %}
<button><a href="{% url 'home' %}">Go back</a></button><br>

</html>